*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    position: absolute;
    left: 590px;
    color: gray;
    top: 8px;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    background: linear-gradient(to right,#07220e, #0b3317);
 

}
.container{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    background: linear-gradient(to right,#16391f, #0b3317);
    text-align: center;
   padding: 25px;
}
.left-text{
   position: relative;
    flex-basis: 30%;
  overflow: scroll;
 height: 100%;
 top: 120px;
}
a{
 border: 2px transparent;   
    color: aliceblue;
   font-size: 35px;

   

}

.heading{
    color:aqua;
    font-size: 45px;
    text-align: center;
}
.subheading{
    color: #ddd;
margin-top: 10px;
text-align: center;
}
.gallery{
    flex-basis: 80%;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 130px;
    
}
.box{
    background-size: cover;
    background-position: bottom;
    color: aliceblue;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgb(181, 169, 152);
    background-blend-mode: hard-light;
    transition: all 1s ease-in-out;
  cursor: pointer;
  
}

.row-2{
    grid-row: span 2;

}
.col-2{
    grid-column: span 2;
   
}
.box:hover{
    background-color: #593333;
    background-position: center;
    box-shadow: 0 0 4px #fff;
}
#ABOUT{ 
    position: relative;
    top: -50px;
   float: left;
    color: rgb(89, 89, 59);
  left: 450px;
 
    
    
}
img{
 
    
    width: 350px;
    height: 300px;
  
   
}

img:hover{
    background-color: rgb(102, 70, 27);
    color: #9b2424;
}
table{
    font-size: 30px;
    border: 3px solid black;
    color: aliceblue;
    text-align: justify;
    width: 680px;
    height: 650px;
    transition: 2s ease-in-out;
}
td{
    text-align: center;
    border: 2px solid blanchedalmond;
    vertical-align: bottom;
    justify-content: space-between;
}
th{  text-align: center;
    border: 2px solid blanchedalmond;
    color: aquamarine;
    background-color: #9b2424;
}

table:hover{
    background-color: aliceblue;
    color: black;
}
button{    width: 218px;
}
input{
    width: 90%;
    height: 40;
    font-size: x-large;
  
}
h3{
    font-size: x-large;
    display: inline-block;
    border: 3px solid rgb(167, 25, 25);
    background-color: rgb(25, 108, 181);
}
.perc{
    background-color: rgb(194, 50, 50);
    width: 100%;
    border: 3px solid black;
    font-size: xx-large;
  
}
.skillset{
    text-align: right;
    color: #8c50be;
    padding-right: 5cm;
    padding-top: 5px;
    padding-bottom: 5px;
}
.web{
    width: 85%;
 background-color: #50be76;
 color: #9b2424;
 animation-name:w ;
 animation-duration: 3s;
}
.tec{
    width: 90%;
    background-color: #605971;
    animation-name:t ;
 animation-duration: 3s;
}
   

.know{
    width: 88%;
    background-color: #be50ad;
    animation-name:k 5s infinite ;
    animation-duration: 3s;
    
   }
   
@keyframes k{
    from{ width: 100%; background-color: #9b2424;}
    to{ width: 88%;  background-color: #50be76;}

}
@keyframes w{
    from{ width: 100%; background-color: #9b2424;}
    to{ width: 85%;  background-color: #be509b;}

}
@keyframes t{
    from{ width: 100%; background-color: #9b2424;}
    to{ width: 90%;  background-color: #547c62;}

}
@media screen (min-width: 100px) {
    body {
      background-color: rgb(238, 144, 177);
    }
  }
